.container {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    margin: auto 0px;
}
  
.image {
    margin: 0px auto;
    height: auto;
    max-width: 100%;
}
