.layout {
    margin: 3em auto;
    max-width: 36em;
    line-height: 1.6;
    font-size: 18px;
    font-family: Baskerville;
    letter-spacing: 0.06em;
    color: #444;
    background-color: white;
    padding: 2em;
}

.content a:link,
.content a:visited {
    color: #444;
}

.content a:hover,
.content a:active {
    color: rgb(248, 224, 217);
}

.content section {
    margin: 2em auto;
}

.content h1,
.content h2,
.content h3 {
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 0.1em;
}