body {
    background-color: rgb(110, 129, 111);
}

.content {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: Baskerville;
    letter-spacing: 0.06em;
    color: #444;
    background-color: white;
    padding: 40px;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.top-nav {
    overflow: hidden;
}

.top-nav .nav-element {
    color: #444;
    text-align: center;
    padding: 14px 16px;
    margin: 1px;
    outline-width: 1px;
    outline-offset: 0px;
    outline-color: rgb(248, 224, 217);
    text-decoration: none;
    letter-spacing: 0.1em;
    float: left;
}

.top-nav .nav-element.right {
    float: right;
    font-weight: bold;
}

.top-nav .nav-element.active {
    text-decoration: underline;
}

.top-nav .nav-element:hover {
    outline-style: solid;
}

.image-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 0%;
}
  
.image-cropper  img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 650px) {
    .row {
        grid-template-columns: 50% auto;
    }
}

.column {
}